body{
  font-family:sans-serif, comic sans ms;
}
#LogoText{
  color:orange;

}
.navbar{ 
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 1rem;
  outline:orange solid 2px;
}
.navbar h1{
  color:rgb(255, 255, 255);
}
nav ul{
  display:flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
nav ul li{
  margin-right: 20px;
}
nav a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover{
  color:rgb(218, 218, 218);
}
#PictureSpace{
  background-image: url('pictures/Space1.jpg');
}