body{
  font-family:sans-serif, comic sans ms;
  background-image: url("pictures/Space1.jpg");
  background-size: cover;

}
#LogoText{
  color:rgb(74, 146, 255) 89, 255);
}
.navbar{ 
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: 2px solid rgb(218, 218, 218);
  backdrop-filter: blur(2px);
  color: rgb(255, 255, 255);
  height: 80px;
  padding: 0 30px;
  border-radius: 1rem;

}
.navbar h1{
  color:rgb(255, 255, 255);
}
nav ul{
  display:flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
nav ul li{
  margin-right: 20px;
}
nav a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover{
  color:rgb(218, 218, 218);
}